
canvas {
    display: block;
    vertical-align: bottom;
  }

h1,h2,h3,h4,h5 {
    color: rgb(53, 49, 49); 
    
}

h4 {
    margin-bottom:15px;
    font-weight: bold;
}

p {
    color:rgb(116, 113, 119);
}

img, .embed-responsive  {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.row {
    margin: 70px 0;
}

/* =========NAVBAR========= */

.navbar{
    transition: all .8s;
    z-index: 10002;
    text-align: center;
    
}

.navbar-brand a {
   color: darkgray;
}

.navbar-bg {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-landing .navbar-nav .show {
    background-color: rgba(0, 0, 0, 0.589);
}


.navbar-landing {
    padding: 30px;
}

/* =========PARTICLES========= */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 10000;
  }

.particles-wrapper {
      height: 100vh;
}

/* =========LANDING========= */
.landing {
    height: 100vh;
    width: 100%;
    margin: 0;
    position: absolute;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-rows: 58% 1fr;
    align-items: center;
    text-align: center;
    color: rgb(224, 217, 217);

}

.landing-title{
    align-self: end;
    color: darkgray;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 1000;
    font-size: 6rem;
}

.landing-title h1 {
    font-size: 6rem; 
    position: relative;
    z-index: 1001;
    color: darkgray;
    
}

.landing-content {
    display: flex;
    font-size: 2.5rem;
    /* word-spacing: 50px; */
    justify-content: space-around;
    color: #CCCCCC;
    text-shadow: 0.5px 2px 0.5px rgba(0,0,0,0.3);
}
.landing-chevron {
    display: flex;
    justify-content: center;
}

.landing-chevron a{
    position: absolute;
    color: darkgray;
    align-self: end;
    z-index: 10001;
    animation: chevron 2s linear infinite;
}

@keyframes chevron {
    0% {
        transform: translateY(-5px);
    }

    30% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    60% {
        transform: translateY(5px);
    }
    70% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* =========ABOUT========= */
.about {
    display: grid;
    height:100vh;
    grid-template-rows: 30% 1fr;
    justify-content: center;
    /* align-items: center; */
}

.about-title {
    align-self: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.about-content{
    padding:25px;
    align-self: center;
    justify-items: center;
}


.about-image {
    text-align: center;
}


/* =========MEDIA========= */
@media (max-width:768px){
    .landing-title {
        font-size: 3.5rem; 
    }
    .landing-title  h1{
        font-size: 3.5rem; 
    }
}