body {
    background: #9ba09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffffff, #9ba09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffffff 50%, #9ba09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
    margin: 0;
}

/* img {
    height: 600px;
    width: 600px;
} */

.img-thumbnail {
    margin: 15px;
}

.project-video {
    margin: 0 auto;
}

.project-container {
    margin: 0 auto;
    width: 90%;    
}

.project-container h4 {
    text-align: center;
}

.list-group {
    text-align: center;
}

.team {
    text-align: center;
}



.project-container h1{
    text-align: center;
}

.project-title {
    margin-top: 100px;
}

.project-item {
    margin-bottom: 50px;
}

.row:nth-of-type(1) {
    margin: 20px;
}

